In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import re
import functools
from geopy.distance import geodesic
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
import numpy as np

# pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

In [13]:
df = pd.read_csv('../data/test.csv', parse_dates=['datetime'])
df

                    datetime  road_id  road_km  target
0        2020-01-01 01:00:00        9        0     NaN
1        2020-01-01 01:00:00        9        1     NaN
2        2020-01-01 01:00:00        9        2     NaN
3        2020-01-01 01:00:00        9        3     NaN
4        2020-01-01 01:00:00        9        4     NaN
...                      ...      ...      ...     ...
12437052 2020-12-31 23:00:00       14     1565     NaN
12437053 2020-12-31 23:00:00       14     1566     NaN
12437054 2020-12-31 23:00:00       14     1567     NaN
12437055 2020-12-31 23:00:00       14     1568     NaN
12437056 2020-12-31 23:00:00       14     1569     NaN

[12437057 rows x 4 columns]

In [16]:
df.groupby('road_id')['road_km'].unique()

road_id
9     [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
14    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Name: road_km, dtype: object

In [8]:
df = df.fillna(0)
df[:1].to_csv('testsub.csv')