In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import re
import functools
from geopy.distance import geodesic
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
import numpy as np

# pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('../data/test.csv', parse_dates=['datetime'])
df

                    datetime  road_id  road_km  target
0        2020-01-01 01:00:00        9        0     NaN
1        2020-01-01 01:00:00        9        1     NaN
2        2020-01-01 01:00:00        9        2     NaN
3        2020-01-01 01:00:00        9        3     NaN
4        2020-01-01 01:00:00        9        4     NaN
...                      ...      ...      ...     ...
12437052 2020-12-31 23:00:00       14     1565     NaN
12437053 2020-12-31 23:00:00       14     1566     NaN
12437054 2020-12-31 23:00:00       14     1567     NaN
12437055 2020-12-31 23:00:00       14     1568     NaN
12437056 2020-12-31 23:00:00       14     1569     NaN

[12437057 rows x 4 columns]